USE [lin2world]
GO

DROP TABLE [dbo].[user_scheme_buffer]
GO

CREATE TABLE [dbo].[user_scheme_buffer](
	[char_id] [int] NOT NULL,
	[subjob_index] [int] NOT NULL,
	[type] [int] NOT NULL,
	[name] [varchar](50) NOT NULL,
	[b0] [int] NOT NULL,
	[b1] [int] NOT NULL,
	[b2] [int] NOT NULL,
	[b3] [int] NOT NULL,
	[b4] [int] NOT NULL,
	[b5] [int] NOT NULL,
	[b6] [int] NOT NULL,
	[b7] [int] NOT NULL,
	[b8] [int] NOT NULL,
	[b9] [int] NOT NULL,
	[b10] [int] NOT NULL,
	[b11] [int] NOT NULL,
	[b12] [int] NOT NULL,
	[b13] [int] NOT NULL,
	[b14] [int] NOT NULL,
	[b15] [int] NOT NULL,
	[b16] [int] NOT NULL,
	[b17] [int] NOT NULL,
	[b18] [int] NOT NULL,
	[b19] [int] NOT NULL,
	[b20] [int] NOT NULL,
	[b21] [int] NOT NULL,
	[b22] [int] NOT NULL,
	[b23] [int] NOT NULL,
	[b24] [int] NOT NULL,
	[b25] [int] NOT NULL,
	[b26] [int] NOT NULL,
	[b27] [int] NOT NULL,
	[b28] [int] NOT NULL,
	[b29] [int] NOT NULL,
	[b30] [int] NOT NULL,
	[b31] [int] NOT NULL,
	[b32] [int] NOT NULL,
	[b33] [int] NOT NULL,
	[b34] [int] NOT NULL,
	[b35] [int] NOT NULL,
	[b36] [int] NOT NULL,
	[b37] [int] NOT NULL,
	[b38] [int] NOT NULL,
	[b39] [int] NOT NULL,
	[b40] [int] NOT NULL,
	[b41] [int] NOT NULL,
	[b42] [int] NOT NULL,
	[b43] [int] NOT NULL,
	[b44] [int] NOT NULL,
	[b45] [int] NOT NULL,
	[b46] [int] NOT NULL,
	[b47] [int] NOT NULL,
	[b48] [int] NOT NULL,
	[b49] [int] NOT NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[user_scheme_buffer] ADD  DEFAULT ((0)) FOR [subjob_index]
GO

ALTER TABLE [dbo].[user_scheme_buffer] ADD  DEFAULT ((0)) FOR [type]
GO

ALTER TABLE [dbo].[user_scheme_buffer] ADD  DEFAULT ((0)) FOR [name]
GO

ALTER TABLE [dbo].[user_scheme_buffer] ADD  DEFAULT ((0)) FOR [b0]
GO

ALTER TABLE [dbo].[user_scheme_buffer] ADD  DEFAULT ((0)) FOR [b1]
GO

ALTER TABLE [dbo].[user_scheme_buffer] ADD  DEFAULT ((0)) FOR [b2]
GO

ALTER TABLE [dbo].[user_scheme_buffer] ADD  DEFAULT ((0)) FOR [b3]
GO

ALTER TABLE [dbo].[user_scheme_buffer] ADD  DEFAULT ((0)) FOR [b4]
GO

ALTER TABLE [dbo].[user_scheme_buffer] ADD  DEFAULT ((0)) FOR [b5]
GO

ALTER TABLE [dbo].[user_scheme_buffer] ADD  DEFAULT ((0)) FOR [b6]
GO

ALTER TABLE [dbo].[user_scheme_buffer] ADD  DEFAULT ((0)) FOR [b7]
GO

ALTER TABLE [dbo].[user_scheme_buffer] ADD  DEFAULT ((0)) FOR [b8]
GO

ALTER TABLE [dbo].[user_scheme_buffer] ADD  DEFAULT ((0)) FOR [b9]
GO

ALTER TABLE [dbo].[user_scheme_buffer] ADD  DEFAULT ((0)) FOR [b10]
GO

ALTER TABLE [dbo].[user_scheme_buffer] ADD  DEFAULT ((0)) FOR [b11]
GO

ALTER TABLE [dbo].[user_scheme_buffer] ADD  DEFAULT ((0)) FOR [b12]
GO

ALTER TABLE [dbo].[user_scheme_buffer] ADD  DEFAULT ((0)) FOR [b13]
GO

ALTER TABLE [dbo].[user_scheme_buffer] ADD  DEFAULT ((0)) FOR [b14]
GO

ALTER TABLE [dbo].[user_scheme_buffer] ADD  DEFAULT ((0)) FOR [b15]
GO

ALTER TABLE [dbo].[user_scheme_buffer] ADD  DEFAULT ((0)) FOR [b16]
GO

ALTER TABLE [dbo].[user_scheme_buffer] ADD  DEFAULT ((0)) FOR [b17]
GO

ALTER TABLE [dbo].[user_scheme_buffer] ADD  DEFAULT ((0)) FOR [b18]
GO

ALTER TABLE [dbo].[user_scheme_buffer] ADD  DEFAULT ((0)) FOR [b19]
GO

ALTER TABLE [dbo].[user_scheme_buffer] ADD  DEFAULT ((0)) FOR [b20]
GO

ALTER TABLE [dbo].[user_scheme_buffer] ADD  DEFAULT ((0)) FOR [b21]
GO

ALTER TABLE [dbo].[user_scheme_buffer] ADD  DEFAULT ((0)) FOR [b22]
GO

ALTER TABLE [dbo].[user_scheme_buffer] ADD  DEFAULT ((0)) FOR [b23]
GO

ALTER TABLE [dbo].[user_scheme_buffer] ADD  DEFAULT ((0)) FOR [b24]
GO

ALTER TABLE [dbo].[user_scheme_buffer] ADD  DEFAULT ((0)) FOR [b25]
GO

ALTER TABLE [dbo].[user_scheme_buffer] ADD  DEFAULT ((0)) FOR [b26]
GO

ALTER TABLE [dbo].[user_scheme_buffer] ADD  DEFAULT ((0)) FOR [b27]
GO

ALTER TABLE [dbo].[user_scheme_buffer] ADD  DEFAULT ((0)) FOR [b28]
GO

ALTER TABLE [dbo].[user_scheme_buffer] ADD  DEFAULT ((0)) FOR [b29]
GO

ALTER TABLE [dbo].[user_scheme_buffer] ADD  DEFAULT ((0)) FOR [b30]
GO

ALTER TABLE [dbo].[user_scheme_buffer] ADD  DEFAULT ((0)) FOR [b31]
GO

ALTER TABLE [dbo].[user_scheme_buffer] ADD  DEFAULT ((0)) FOR [b32]
GO

ALTER TABLE [dbo].[user_scheme_buffer] ADD  DEFAULT ((0)) FOR [b33]
GO

ALTER TABLE [dbo].[user_scheme_buffer] ADD  DEFAULT ((0)) FOR [b34]
GO

ALTER TABLE [dbo].[user_scheme_buffer] ADD  DEFAULT ((0)) FOR [b35]
GO

ALTER TABLE [dbo].[user_scheme_buffer] ADD  DEFAULT ((0)) FOR [b36]
GO

ALTER TABLE [dbo].[user_scheme_buffer] ADD  DEFAULT ((0)) FOR [b37]
GO

ALTER TABLE [dbo].[user_scheme_buffer] ADD  DEFAULT ((0)) FOR [b38]
GO

ALTER TABLE [dbo].[user_scheme_buffer] ADD  DEFAULT ((0)) FOR [b39]
GO

ALTER TABLE [dbo].[user_scheme_buffer] ADD  DEFAULT ((0)) FOR [b40]
GO

ALTER TABLE [dbo].[user_scheme_buffer] ADD  DEFAULT ((0)) FOR [b41]
GO

ALTER TABLE [dbo].[user_scheme_buffer] ADD  DEFAULT ((0)) FOR [b42]
GO

ALTER TABLE [dbo].[user_scheme_buffer] ADD  DEFAULT ((0)) FOR [b43]
GO

ALTER TABLE [dbo].[user_scheme_buffer] ADD  DEFAULT ((0)) FOR [b44]
GO

ALTER TABLE [dbo].[user_scheme_buffer] ADD  DEFAULT ((0)) FOR [b45]
GO

ALTER TABLE [dbo].[user_scheme_buffer] ADD  DEFAULT ((0)) FOR [b46]
GO

ALTER TABLE [dbo].[user_scheme_buffer] ADD  DEFAULT ((0)) FOR [b47]
GO

ALTER TABLE [dbo].[user_scheme_buffer] ADD  DEFAULT ((0)) FOR [b48]
GO

ALTER TABLE [dbo].[user_scheme_buffer] ADD  DEFAULT ((0)) FOR [b49]
GO



/* ================== SCHEME BUFFER NAMES (lin2world) =================== */
USE lin2world;
GO

/* Tabela de nomes por slot (1..6) */
IF NOT EXISTS (
    SELECT 1 FROM sys.objects
    WHERE name = 'scheme_buffer_name' AND type = 'U'
)
BEGIN
    CREATE TABLE dbo.scheme_buffer_name (
        char_id     INT           NOT NULL,
        list_id     TINYINT       NOT NULL,       -- 1..6
        name        NVARCHAR(15)  NOT NULL,       -- <16 chars
        updated_at  DATETIME      NOT NULL
            CONSTRAINT DF_scheme_buffer_name_updated DEFAULT (GETDATE()),
        CONSTRAINT PK_scheme_buffer_name PRIMARY KEY (char_id, list_id)
    );
END
GO

/* READ: retorna nomes dos slots do char */
IF EXISTS (SELECT 1 FROM sys.objects WHERE name = 'sb_GetNames' AND type = 'P')
    DROP PROCEDURE dbo.sb_GetNames;
GO
CREATE PROCEDURE dbo.sb_GetNames
    @char_id INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT list_id, name
    FROM dbo.scheme_buffer_name WITH (NOLOCK)
    WHERE char_id = @char_id
    ORDER BY list_id;
END
GO
GRANT EXECUTE ON dbo.sb_GetNames TO public;
GO

/* WRITE: upsert sem MERGE (compatível com SQL 2005) */
IF EXISTS (SELECT 1 FROM sys.objects WHERE name = 'sb_SetName' AND type = 'P')
    DROP PROCEDURE dbo.sb_SetName;
GO
CREATE PROCEDURE dbo.sb_SetName
    @char_id INT,
    @list_id TINYINT,       -- 1..6
    @name    NVARCHAR(15)   -- já validado na aplicação
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (
        SELECT 1
        FROM dbo.scheme_buffer_name
        WHERE char_id = @char_id AND list_id = @list_id
    )
    BEGIN
        UPDATE dbo.scheme_buffer_name
           SET name = @name,
               updated_at = GETDATE()
         WHERE char_id = @char_id AND list_id = @list_id;
    END
    ELSE
    BEGIN
        INSERT INTO dbo.scheme_buffer_name (char_id, list_id, name, updated_at)
        VALUES (@char_id, @list_id, @name, GETDATE());
    END
END
GO
GRANT EXECUTE ON dbo.sb_SetName TO public;
GO

/* ------------------- TESTES OPCIONAIS (comente em prod) ---------------
-- DECLARE @cid INT = 123456;
-- EXEC dbo.sb_SetName  @cid, 1, N'PVE';
-- EXEC dbo.sb_SetName  @cid, 2, N'PVP';
-- EXEC dbo.sb_GetNames @cid;
------------------------------------------------------------------------ */
